{% extends "base.html" %}

{% block title %}ПОИСК ПОЛЬЗОВАТЕЛЯ{% endblock %}
{% block content %}
<div class="block_content">
  <div class="block_form">
    <form id="recover_form" class="confirm_form" action="/authorization/recover" method="POST">
      <label class="label_confirm">ПОДТВЕРЖДЕНИЕ КОДА</label>
      <input class="inp_code" type="text" id="user" name="user" placeholder="Введите почту ..." required>
      <span id="user-error" style="color: red;"></span>
      <button id="authButton" class="btn_code" type="submit">ОТПРАВИТЬ КОД</button>
    </form>
  </div>
</div>
{% endblock %}
{% block script %}<script src="/static/js/recover.js"></script>{% endblock %}