{% extends "base.html" %}

{% block title %}ПОДТВЕРЖДЕНИЕ КОДА{% endblock %}
{% block content %}
<div class="block_content">
  <div class="block_form">
    <form id="reset_code_form" class="confirm_form" action="/authorization/recover/reset_code" method="POST">
      <label class="label_confirm">ПОДТВЕРЖДЕНИЕ КОДА</label>
      <input class="inp_code" type="text" id="code" name="code" placeholder="Проверочный код ..." required>
      <span id="code-error" style="color: red;"></span>
      <button id="authButton" class="btn_code" type="submit">ИЗМЕНИТЬ ПАРОЛЬ</button>
    </form>
  </div>
</div>
{% endblock %}
{% block script %}<script src="/static/js/reset_code.js"></script>{% endblock %}