<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>РЕГИСТРАЦИЯ</title>
  <link rel="stylesheet" type="text/css" href="/static/css/change_password.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap">
</head>
<body>
    <div class="block_content">
        <div class="block_form">
          <form id="change_password_form" class="change_password_form" action="/authorization/recover/reset_code/change_password" method="POST">
            <label class="label_reg">ИЗМЕНЕНИЕ ПАРОЛЯ</label>
            <input class="inp_pass" type="text" id="password" name="password" placeholder="Введите новый пароль ..." required>
            <span id="password-error" style="color: red;"></span>
            <input class="inp_pass" type="text" id="password_two" name="password_two" placeholder="Повторите новый пароль ..." required>
            <span id="password-two-error" style="color: red;"></span>
            <button class="btn_login" type="submit">ИЗМЕНИТЬ ПАРОЛЬ</button>
          </form>
        </div>
    </div>
    <script src="/static/js/change_password.js"></script>
</body>
</html>