<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>АВТОРИЗАЦИЯ</title>
  <link rel="stylesheet" type="text/css" href="/static/css/auth.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap">
</head>
<body>
  <div class="block_content">
    <div class="block_button">
      <button class="btn_nav">СТАТЬИ</button>
      <button class="btn_nav">КАБИНЕТ</button>
      <button id="redirect_reg" class="btn_nav">РЕГИСТРАЦИЯ</button>
    </div>
    <div class="block_form">
      <form id="authorization-form" class="auth_form" action="/authorization" method="POST">
        <label class="label_auth">АВТОРИЗАЦИЯ</label>
        <input class="inp_log" type="text" id="login" name="login" placeholder="Введите логин или почту ..." required>
        <span id="login-error" style="color: red;"></span>
        <input class="inp_pass" type="password" id="password" name="password" placeholder="Введите пароль ..." required>
        <span id="password-error" style="color: red;"></span>
        <div class="all_checkbox">
          <div class="show-password">
            <input type="checkbox" id="show-password">
            <label for="show-password">Показать пароль</label>
          </div>
          <div class="memorize-user">
            <input type="checkbox" id="memorize-user">
            <label for="memorize-user">Запомнить меня</label>
          </div>
        </div>
        <button class="btn_login" type="submit">ОТПРАВИТЬ КОД</button>
        <button id="btn_recover" class="btn_recover"> ВОССТАНОВИТЬ ПАРОЛЬ</button>
      </form>
    </div>
  </div>
  <script src="/static/js/auth.js"></script>
</body>
</html>
